.entry
  %dt
    = link_to entry.title, entry.url
    = link_to entry, method: :delete, remote: true, class: "close entry-destroy-link" do
      &times;
  %dd
    = entry.description
    %small= entry.categories.uniq.map{|c| c.name}.join(", ")
