.container
  .page-header
    %h1
      Categories

  %dl
    - @categories.each do |category|
      %dt
        = link_to category.name, '#'
      %dd
        %ul
          - current_user.entries_for_category(category).each do |entry|
            %li= entry.title
