.container
  .page-header
    %h1
      Dashboard
  %h2
    Smartfield
    %small the place where magic happens
  %form.form-search{action: search_entries_path(format: :json)}
    %input.input-xxlarge.search-query#search-field{ name: 'q', type: "text", placeholder: "Enter your search query here or paste a link to resource you want to add" }
    .help-block{ data: { :'show-on-focus' => "search-field" } } To create new entry – paste link started with "http" or "https".

  %p &nbsp;
  = render "recent"
