.container
  .page-header
    %h1
      Dashboard
  %h2
    Smartfield
    %small the place where magic happens
  .row
    %form.form-search
      .span6
        %input.input-xxlarge.search-query{ type: "text", placeholder: "Enter your search query here or paste a link to resource you want to add" }
  %p &nbsp;
  %h2 Recently added
  .row
    .span3
      %h3 Gems
    .span3
      %h3 Gists
    .span3
      %h3 Screencasts
    .span3
      %h3 Articles