.container
  .hero-unit
    %object.well(data="/assets/r150.svg" type="image/svg+xml")
    %h1 My Ruby Toolbox
    %p Collect explore and share your development experience
    %p Every time, when you start a new project or get a new task. You need to remember how to do it. What libs are suitable? Where have I seen this tutorial? I've done the same thing already, where I saved it? We are tired of this and want to put all of our experience in one place. So if you share that issue too, sign in and start to collect your knowledge.
    - unless user_signed_in?
      %p
        = link_to user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary" do
          %span.btn-label
            %i.ficon-github
            Sign in via Github
  .row
    .span4
      %h2
        %i.ficon-inbox
        Collect
      %p
        Just paste link to gem, gist, screencast or article, add comment and you
        will be able to access your solutions base anytime and everywhere.
    .span4
      %h2
        %i.ficon-search
        Explore
      %p
        You didn't have a solution for task you work on? Not a problem! We will
        suggest you relevant solutions from another users.
    .span4
      %h2
        %i.ficon-export
        Share
      %p
        Your may mark your solutions as "shareable" to allow other users of "My
        Ruby Toolbox" access your knowledge and improve their skills.
.container
  %h1.align-center #{User.count} users added #{Entry.count} solutions to our database
  %p
    %br
- unless user_signed_in?
  .container
    .row
      .span4.offset4
        = link_to user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary btn-block" do
          %span.btn-label
            %i.ficon-github
            Sign in and start using!
