@charset "UTF-8";


.ficon-plus:before { content: '\2b'; } /* '+' */
.ficon-minus:before { content: '\2d'; } /* '-' */
.ficon-left:before { content: '\2190'; } /* '←' */
.ficon-up:before { content: '\2191'; } /* '↑' */
.ficon-right:before { content: '\2192'; } /* '→' */
.ficon-down:before { content: '\2193'; } /* '↓' */
.ficon-home:before { content: '\2302'; } /* '⌂' */
.ficon-pause:before { content: '\2389'; } /* '⎉' */
.ficon-fast-fw:before { content: '\23e9'; } /* '⏩' */
.ficon-fast-bw:before { content: '\23ea'; } /* '⏪' */
.ficon-to-end:before { content: '\23ed'; } /* '⏭' */
.ficon-to-start:before { content: '\23ee'; } /* '⏮' */
.ficon-stop:before { content: '\25aa'; } /* '▪' */
.ficon-play:before { content: '\25b6'; } /* '▶' */
.ficon-star:before { content: '\2605'; } /* '★' */
.ficon-star-empty:before { content: '\2606'; } /* '☆' */
.ficon-check:before { content: '\2611'; } /* '☑' */
.ficon-th-list:before { content: '\2630'; } /* '☰' */
.ficon-heart-empty:before { content: '\2661'; } /* '♡' */
.ficon-heart:before { content: '\2665'; } /* '♥' */
.ficon-music:before { content: '\266b'; } /* '♫' */
.ficon-th:before { content: '\268f'; } /* '⚏' */
.ficon-flag:before { content: '\2691'; } /* '⚑' */
.ficon-cog:before { content: '\2699'; } /* '⚙' */
.ficon-attention:before { content: '\26a0'; } /* '⚠' */
.ficon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.ficon-flight:before { content: '\2708'; } /* '✈' */
.ficon-mail:before { content: '\2709'; } /* '✉' */
.ficon-edit:before { content: '\270d'; } /* '✍' */
.ficon-pencil:before { content: '\270e'; } /* '✎' */
.ficon-ok:before { content: '\2713'; } /* '✓' */
.ficon-ok-circle:before { content: '\2714'; } /* '✔' */
.ficon-cancel:before { content: '\2715'; } /* '✕' */
.ficon-cancel-circle:before { content: '\2716'; } /* '✖' */
.ficon-asterisk:before { content: '\2731'; } /* '✱' */
.ficon-attention-circle:before { content: '\2757'; } /* '❗' */
.ficon-plus-circle:before { content: '\2795'; } /* '➕' */
.ficon-minus-circle:before { content: '\2796'; } /* '➖' */
.ficon-forward:before { content: '\27a6'; } /* '➦' */
.ficon-cw:before { content: '\27f3'; } /* '⟳' */
.ficon-resize-vertical:before { content: '\2b0c'; } /* '⬌' */
.ficon-resize-horizontal:before { content: '\2b0d'; } /* '⬍' */
.ficon-eject:before { content: '\2ecf'; } /* '⻏' */
.ficon-star-half:before { content: '\e701'; } /* '' */
.ficon-ok-circle2:before { content: '\e702'; } /* '' */
.ficon-cancel-circle2:before { content: '\e703'; } /* '' */
.ficon-help-circle:before { content: '\e704'; } /* '' */
.ficon-info-circle:before { content: '\e705'; } /* '' */
.ficon-th-large:before { content: '\e708'; } /* '' */
.ficon-eye:before { content: '\e70a'; } /* '' */
.ficon-eye-off:before { content: '\e70b'; } /* '' */
.ficon-tag:before { content: '\e70c'; } /* '' */
.ficon-tags:before { content: '\e70d'; } /* '' */
.ficon-camera-alt:before { content: '\e70f'; } /* '' */
.ficon-export:before { content: '\e715'; } /* '' */
.ficon-print:before { content: '\e716'; } /* '' */
.ficon-retweet:before { content: '\e717'; } /* '' */
.ficon-comment:before { content: '\e718'; } /* '' */
.ficon-chat:before { content: '\e720'; } /* '' */
.ficon-location:before { content: '\e724'; } /* '' */
.ficon-trash:before { content: '\e729'; } /* '' */
.ficon-basket:before { content: '\e73d'; } /* '' */
.ficon-login:before { content: '\e740'; } /* '' */
.ficon-logout:before { content: '\e741'; } /* '' */
.ficon-resize-full:before { content: '\e744'; } /* '' */
.ficon-resize-small:before { content: '\e746'; } /* '' */
.ficon-zoom-in:before { content: '\e750'; } /* '' */
.ficon-zoom-out:before { content: '\e751'; } /* '' */
.ficon-down-circle2:before { content: '\e758'; } /* '' */
.ficon-up-circle2:before { content: '\e75b'; } /* '' */
.ficon-down-open:before { content: '\e75c'; } /* '' */
.ficon-left-open:before { content: '\e75d'; } /* '' */
.ficon-right-open:before { content: '\e75e'; } /* '' */
.ficon-up-open:before { content: '\e75f'; } /* '' */
.ficon-arrows-cw:before { content: '\e760'; } /* '' */
.ficon-play-circle2:before { content: '\e761'; } /* '' */
.ficon-to-end-alt:before { content: '\e762'; } /* '' */
.ficon-to-start-alt:before { content: '\e763'; } /* '' */
.ficon-inbox:before { content: '\e777'; } /* '' */
.ficon-font:before { content: '\e779'; } /* '' */
.ficon-bold:before { content: '\e77a'; } /* '' */
.ficon-italic:before { content: '\e77b'; } /* '' */
.ficon-text-height:before { content: '\e77c'; } /* '' */
.ficon-text-width:before { content: '\e77d'; } /* '' */
.ficon-align-left:before { content: '\e77e'; } /* '' */
.ficon-align-center:before { content: '\e77f'; } /* '' */
.ficon-align-right:before { content: '\e780'; } /* '' */
.ficon-align-justify:before { content: '\e781'; } /* '' */
.ficon-list:before { content: '\e782'; } /* '' */
.ficon-indent-left:before { content: '\e783'; } /* '' */
.ficon-indent-right:before { content: '\e784'; } /* '' */
.ficon-off:before { content: '\e78e'; } /* '' */
.ficon-road:before { content: '\e78f'; } /* '' */
.ficon-list-alt:before { content: '\e790'; } /* '' */
.ficon-qrcode:before { content: '\e791'; } /* '' */
.ficon-barcode:before { content: '\e792'; } /* '' */
.ficon-ajust:before { content: '\e793'; } /* '' */
.ficon-tint:before { content: '\e794'; } /* '' */
.ficon-magnet:before { content: '\e7a1'; } /* '' */
.ficon-move:before { content: '\f047'; } /* '' */
.ficon-github:before { content: '\f300'; } /* '' */
.ficon-twitter:before { content: '\f304'; } /* '' */
.ficon-facebook:before { content: '\f308'; } /* '' */
.ficon-linkedin:before { content: '\f30c'; } /* '' */
.ficon-picture:before { content: '🌄'; } /* '\1f304' */
.ficon-leaf:before { content: '🍂'; } /* '\1f342' */
.ficon-lemon:before { content: '🍋'; } /* '\1f34b' */
.ficon-glass:before { content: '🍸'; } /* '\1f378' */
.ficon-gift:before { content: '🎁'; } /* '\1f381' */
.ficon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.ficon-headphones:before { content: '🎧'; } /* '\1f3a7' */
.ficon-video:before { content: '🎬'; } /* '\1f3ac' */
.ficon-target:before { content: '🎯'; } /* '\1f3af' */
.ficon-award:before { content: '🏉'; } /* '\1f3c9' */
.ficon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.ficon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.ficon-user:before { content: '👤'; } /* '\1f464' */
.ficon-folder:before { content: '📁'; } /* '\1f4c1' */
.ficon-folder-open:before { content: '📂'; } /* '\1f4c2' */
.ficon-doc:before { content: '📄'; } /* '\1f4c4' */
.ficon-calendar:before { content: '📅'; } /* '\1f4c5' */
.ficon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.ficon-pin:before { content: '📌'; } /* '\1f4cc' */
.ficon-book:before { content: '📕'; } /* '\1f4d5' */
.ficon-upload:before { content: '📤'; } /* '\1f4e4' */
.ficon-download:before { content: '📥'; } /* '\1f4e5' */
.ficon-signal:before { content: '📶'; } /* '\1f4f6' */
.ficon-camera:before { content: '📷'; } /* '\1f4f7' */
.ficon-shuffle:before { content: '🔀'; } /* '\1f500' */
.ficon-volume-off:before { content: '🔇'; } /* '\1f507' */
.ficon-volume-down:before { content: '🔉'; } /* '\1f509' */
.ficon-volume-up:before { content: '🔊'; } /* '\1f50a' */
.ficon-search:before { content: '🔍'; } /* '\1f50d' */
.ficon-key:before { content: '🔑'; } /* '\1f511' */
.ficon-lock:before { content: '🔒'; } /* '\1f512' */
.ficon-bookmark:before { content: '🔖'; } /* '\1f516' */
.ficon-link:before { content: '🔗'; } /* '\1f517' */
.ficon-fire:before { content: '🔥'; } /* '\1f525' */
.ficon-clock:before { content: '🕔'; } /* '\1f554' */
.ficon-block:before { content: '🚫'; } /* '\1f6ab' */