h1, h2, h3, h4, h5, h6
  text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px
body
  background-image: url('/assets/bg.png')
.page-header
  background: #FFF
  padding: 10px 20px
  border-bottom-color: #CCC
.entries.dashboard
  .span3
    p.muted
      background: rgba(255, 255, 255, .8)
      text-align: center
      padding: 10px 0px
  .entry
    .close
      display: none
    &:hover
      .close
        display: inline-block
  dd
    small
      display: block
      color: #999
  dl
    background: rgba(255, 255, 255, .8)
    padding: 10px 15px
form.white
  background: rgba(255, 255, 255, .8)
  padding: 15px 20px
  text-align: center
  .help-block
    margin-bottom: -8px
    padding-bottom: 0px
.align-center
  text-align: center
.navbar-static-top
  .avatar
    width: 21px
    margin-right: 3px
    margin-top: -5px
.form-search
  .help-block
    font-size: 85%
    padding: 5px 15px
    color: #999
[data-show-on-focus]
  display: none

.hero-unit
  object
    margin-top: -42px
    float: right
    width: 150px
    height: 150px
object.placeholder
  width: 370px
  height: 200px
